 html { 
     background-image: url('http://www.wallpaperist.com/wallpapers/TV/Seinfeld/Jerry%27s-apartment-1600-1200.jpg');
     background-repeat: repeat; 
 }

.body {
     background-color: transparent; 
 }